@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

/*******VARIAVEIS DE CORES*******/

:root {
  --maincolor: rgb(28,28,28);
  --maincolortransp: rgba(28,28,28);
  --maincolor2: rgb(255, 255, 255);
  --maincolor3: rgba(160, 101, 147);
  
  --text-color: rgb(255, 255, 255);
  --hovertext-color: rgb(185, 133, 196);

  --box-bg1-color:rgb(160, 101, 147) ;
  --box-bg2-color: rgba(160, 101, 147);

  --border-color: rgb(160, 101, 147);

  --button-enviar-login: rgb(160, 101, 147);
  --button-border-login: rgb(160, 101, 147);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 240, 240);

  background-size: cover;
   
}

/******************ANIMAÇÕES********************/

/*TRANSLATE 3D*/
/*** Obs:
- Eixo X (Horizontal)
- Eixo Y (Vertical)
- Eixo Z (3D) **/


[data-anime] {
  opacity: 0;
  transition: 0.4s;
}

[data-anime="left"]{
transform: translate3d(-30px, 0, 0);
}


[data-anime="right"]{
  transform: translate3d(10px, 0, 0);
}

[data-anime="top"]{
  transform: translate3d(0, -30px, 0);
}

[data-anime="bottom"]{
  transform: translate3d(0, 30px, 0);
}


[data-anime].animate {
opacity: 1;
transform: translate3d(0px, 0px, 0px);
}


/*******************  HEADER  *****************************/
.logoHeader {
  
  width: 40px;
}

.nomelogo{
  margin-left: 20px;
}

.headercolor {
  background-color: var(--maincolor);
  color: var(--hovertext-color);
  filter: drop-shadow(0 0 5px black);
}

/**************** HOVER MENU *****************************/

.navItemhvr {
  color: var(--maincolor2);
}

.navItemhvr:hover {
  color: var(--hovertext-color);
}

/************MARGIN TOP PRA ACERTAR O HEADER*********************/

.mainConfig {
  margin-top: 70px;
}

/***************CAROUSEL****************************/

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.carousel-control-prev, .carousel-control-next{
padding-right: 0;
margin-right: 0;
width: 8vmax;
}



.h5Carousel{

color: rgb(255, 255, 255);
font-weight: 700;
font-size: 1rem;
filter: drop-shadow(0 0 0.5px black);

}





/*********FOOTER ***************/


.text-small {
  font-size: 0.9rem;
}


a {
  color: inherit;
  text-decoration: none;
  transition: all 0.4s;
}

a:hover,
a:focus {
  text-decoration: none;
}

.form-control {
  background: #ffffff;
  border-color: #545454;
}

.form-control:focus {
  background: #ffffff;
}

footer {
  background: var(--maincolor);
  color: var(--text-color);
}


.socialMediaLinks{
margin-top: 5px;
margin-left: 30px;

}



.links{
padding-right: 5px;

}

.links:hover{
color: var(--hovertext-color);
  
  }

  .sitelink{
color: white;


  }


  .sitelink:hover{
    color: var(--hovertext-color);
    
    
      }

.div1Footer{
background-color: rgb(46, 129, 129);
text-align: left;



}

.div2Footer{
  background-color: rgb(63, 129, 46);
  text-align: center;


  
  }

  
  .div3Footer{
   background-color: rgb(153, 182, 22);
   text-align: right;
 
   }
  
.inputFooter{
width: 300px;
font-size: 15px;


}


/***************SECTION SOBRE*************/

h1,
h2 {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  margin-bottom: 2rem;
  text-align: center;
  line-height: 1.2;
}



h5 {
  padding-top: 80px;
  font: 20px;
  text-align: center;
}

.SectionSobre{
margin: 10px;
}



.divSobre {
display: flex;
align-items: center;
justify-content: space-evenly;
flex-wrap: wrap;
background-color: rgb(255, 255, 255);
margin: 0 auto;
min-width: 400px;
max-width: 78.5vmax;
}

.divSobre2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  min-width: 400px;
  max-width: 78.5vmax;
  }




.SectionSobre h3{
text-align: center;
margin: 10px auto 30px;
font-weight: 600;
}

.SectionSobre h4{

text-align: center;
padding: 20px 0;
margin: 0px auto 10px;
}


.SectionSobre p {

min-width: 300px;
max-width: 30vmax;
padding: 5px;
font-size: 0.9rem;
margin: 10px 20px;
text-align: justify;
}

.imgSobre {
  min-width: 300px;
  max-width: 30vmax;
  margin: 10px;
  margin-top: 30px;
  border: 2px solid white;
  box-shadow: 0 0 10px #0000000e;
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform 1s ease;

}

.imgSobre:hover{
  box-shadow: 0 0 5px #00000038;
  position: left;
  max-width: 35vmax;
  -webkit-transform: scale(1.2);
   transform: scale(1.2);
}

.img-container{
 overflow: hidden;

}


/***************************BOTAO ENVIAR SECTION SOBRE ******************/


/* From uiverse.io */
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: rgb(168, 108, 155);
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

.botaoenviar {
  text-align: center;
  padding-bottom: 40px;
}

/**************************SECTION 2 TIPOS DE ABUSO *************/
.divSection3{
background-color: rgb(240, 240, 240);
box-sizing: content-box;




}
.SectionTiposDeAbuso {
  text-align: center;
  padding-top: 50px;
  font-size: 18px;


     
}

.SectionTiposDeAbuso h3{
margin: 0;
font-weight: 600;
padding: 10px 50px;
}


.divAbusos {
  display: flex;
  justify-content: space-evenly;
  align-items: top;
  flex-wrap: wrap;
  }


.imgbox {
  width: 280px;
  border: 1px solid white;
  box-shadow: 0 0 2px #00000098;


}
.item-box {
  background-color: rgb(255, 255, 255);
 width: 300px;
 text-align: justify;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  
  
}
.item-box:hover {

  filter: drop-shadow(0 0 5px white);
}


.item-box h3 {
margin-top: 20px;
font-size: 1.2rem;
text-align: center;
padding: 0;
font-weight: 800;

}

.item-box p {
  margin-top: 20px;
  font-size: 0.9rem;
  text-align: justify;
  padding: 0 10px;

  
  }
  



/***************************   SECTION 3 OUTROS ASSUNTOS ******************************/
.SectionOutrosAssuntos{
background-color: rgb(28,28,28);
margin: 0;

}

.SectionOutrosAssuntos h3{
font-family: 'Major Mono Display', monospace; 
text-align: center;
padding: 30px 0 0;
color: rgb(255, 255, 255);

}



.SectionOutrosAssuntos h5{
  
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 30px 0 0;
  }


/***********CARDS*********/

.divAssuntos {
  background-color: rgb(240, 240, 240);
  margin: 50px auto;
  
  
}


.divCard1, .divCard2, .divCard3 {
  
  margin: 20px auto;
  padding: 25px auto;
  min-width: 400px;
  max-width: 80vmax;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);

 
}

.divCard2{
  flex-wrap: wrap-reverse;
}


.imgCasamentoInfantil {
  border: 2px solid white;
  box-shadow: 0 0 10px #000000;
  margin: 20px 10px;
  min-width: 50vmin;
  max-width: 25vmax;
}


.divInfoCards h3{
  text-align: center;
  color: #000000;

  
  }
  
.pCards {
 font-size: 0.9rem;
 width: 400px;
  padding: 10px;
  text-align: justify;
}



.imgTrafMulheres{

 border: 2px solid white;
  box-shadow: 0 0 10px #000000;
  margin: 20px 10px;
  min-width: 50vmin;
  max-width: 40vmax;
}

.imgCrimesVirtuais{

  border: 2px solid white;
   box-shadow: 0 0 10px #00000025;
   margin: 20px 10px;
   min-width: 50vmin;
   max-width: 40vmax;
 }

