@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

/*******VARIAVEIS DE CORES*******/
:root {
  --maincolor: rgb(24, 24, 24);
  --maincolortransp: rgba(108, 0, 141, 0.548);
  --maincolor2: rgb(255, 255, 255);
  --maincolor3: rgba(87, 71, 83, 0.795);
  --text-color: rgb(255, 255, 255);
  --hovertext-color: rgb(185, 133, 196);
  --box-bg1-color:rgb(47, 16, 68) ;
  --box-bg2-color: rgba(74, 73, 75, 0.644);
  --border-color: rgb(192, 0, 218);
  --button-enviar-login: rgb(114, 100, 111);
  --button-border-login: rgb(27, 27, 27);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
       background: rgb(0, 0, 0);

  

      
}


/*******************  HEADER  *****************************/
.logoHeader {
    width: 40px;
}

.nomelogo{
  margin-left: 20px;
}
  
  .headercolor {
    background-color: var(--maincolor);
    color: var(--hovertext-color);
    filter: drop-shadow(0 0 10px black);
  }

  
  /******************MENU DROP********************/
  
  .dropdown-menu {
    width: 220px;
  }
  
  .dropdown-item {
    text-align: center;
  }
  
  .dropdown-item:hover {
    background-color: var(--maincolor3);
    color: white;
  }
  
  /**************** HOVER MENU *****************************/
  
  .navItemhvr {
    color: var(--maincolor2);
    text-decoration: none;
  }
  
  .navItemhvr:hover {
    color: var(--hovertext-color);
  }
  
  /************MARGIN TOP PRA ACERTAR O HEADER*********************/
  
  .mainConfig {
    margin-top: 70px;
  }



/********************* LOGIN ***********************/
.SectionLogin{
background-image: url(./background\ login\ 3.png);
  height: 100vh;
  padding: 100px 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}




.login {
    max-width: 400px;
    min-width: 200px;
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 50px auto;
    background-color: var(--box-bg2-color);
    border: 1px solid rgb(61, 61, 61);
   
}

.login img {
    width: 150px;
    display: block;
    margin: 20px auto;
}

.text {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
    
}

.login input {
    border: 1px solid var(--maincolor);
    border-radius: 3px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    height: 2rem;
    width: 75%;
    padding-left: 10px;
    margin: auto;
    color: #000;
    background-color: white;    
    outline: none;
}

.login input[type="password"] {
    margin-top: 20px;
}

::placeholder {
    font-size: 1rem;
    color: #000;
}

.login input:hover {
    transition: 0.5s;
    border: 2px solid var(--border-color);
}

#btnSubmitLogin {
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    height: 40px;
    width: 78%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--button-enviar-login) ;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    border: 1px solid var(--button-border-login);
    border-radius: 7px;
    transition: all .5s ease;
    
}

#btnSubmitLogin:hover {
  background-color:  rgb(148, 83, 170);;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    border: rgb(210, 97, 255);
    width: 85%;
}  




#frgtPsswrd{
color: var(--text-color);
font-size: 0.9rem;
margin: 0 50px;

}

#frgtPsswrd:hover {
color: var(--hovertext-color);


}


/*********FOOTER ***************/


.text-small {
  font-size: 0.9rem;
}


a {
  color: inherit;
  text-decoration: none;
  transition: all 0.4s;
}

a:hover,
a:focus {
  text-decoration: none;
}

.form-control {
  background: #ffffff;
  border-color: #545454;
}

.form-control:focus {
  background: #ffffff;
}

footer {
  background: var(--maincolor);
  color: var(--text-color);
}


.socialMediaLinks{
margin-top: 5px;
margin-left: 30px;

}



.links{
padding-right: 5px;

}

.links:hover{
color: var(--hovertext-color);
  
  }

  .sitelink{
color: white;


  }


  .sitelink:hover{
    color: var(--hovertext-color);
    
    
      }

.div1Footer{
background-color: rgb(46, 129, 129);
text-align: left;



}

.div2Footer{
  background-color: rgb(63, 129, 46);
  text-align: center;


  
  }

  
  .div3Footer{
   background-color: rgb(153, 182, 22);
   text-align: right;
 
   }
  
.inputFooter{
width: 300px;
font-size: 15px;


}
